<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to 'New post', new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="flex items-center justify-center">
    <div id="posts" class="min-w-md mx-auto">
      <div class="" data-controller="navigation"
    data-action="turbo:before-fetch-response@document->navigation#displayContent">
        <!-- Cible: post card-->
        <%= turbo_frame_tag :index, class:"post-card" do %>
          <% @posts.each do |post| %>
            <div class="border p-2 mb-2">
              <div class="font-semibold ">
                <h1 class="">
                  <%= link_to post_path(post), data: { turbo_frame: "details", 
                  action: "turbo:click->navigation#displayLoading",
                  navigation_target: "link" } do %>
                    <%= post.title %>
                  <% end %>
                  
                </h1>
              </div>

              <div class="">
                <p class="my-2">
                  <%= link_to post_path(post), data: { turbo_frame: "details", 
                  action: "turbo:click->navigation#displayLoading",
                  navigation_target: "link" } do %>
                    <%= truncate(strip_tags(post.content.to_s.html_safe), length: 200) %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>

        <!-- Cible: post details-->
        <%= turbo_frame_tag :details, class:"post-details",
         "data-navigation-target": "content"  do %>
           Select a movie for more details...
        <% end %>
        

        <!-- loading-->
        <div class="loading-indicator hidden"
          data-navigation-target="loading">
        <%= image_tag("loading.gif") %>
        </div>
      </div>
    </div>
  </div>
</div>
